---
layout: default
---


<!------------- Aviso sobre posible infeccion -------------------->
<div class="alert alert-dismissible alert-danger" style='margin-left: 5%; margin-right: 5%;'>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Aviso</h4>
  <p class="mb-0">Si crees estar <a href="https://www.cdc.gov/coronavirus/2019-ncov/downloads/2019-ncov-factsheet-sp.pdf" class="alert-link">infectado</a>, manda un mensaje con la palabra <a href="#" class="alert-link">COVID al 51515</a>.</p>
</div>


<!------------------------- Mapa ---------------------------------->
<h1 class="text-center" style='margin-top: 5%;'>Mapa</h1>

<div class="row d-flex justify-content-center">
  <div id="mapa"></div>
</div>

<div class="justify-content-center table-responsive">
  <h4 class='text-center' style='margin-top: 2%'>Selecciona un estado</h4>
  <table class="table table-hover" id="tabla_mapa">
  <thead>
    <tr>
      <th scope="col">Entidad</th>
      <th scope="col">Casos totales</th>
      <th scope="col">Casos activos</th>
      <th scope="col">Muertes</th>
      <th scope="col">Casos recuperados</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope="row" id="tooltip">Selecciona</th>
      <td id="col_tot">Column content</td>
      <td id="col_act">Column content</td>
      <td id="col_muertes">Column content</td>
      <td id="col_recu">Column content</td>
    </tr>
  </tbody>
  </table>

</div>
<script src="{{ "/assets/javascript/mapa.js" | relative_url }}"></script>




<!---------------- Estadisticas importantes ------------------------->
<h1 class="text-center" style='margin-top: 5%;'>Casos</h1>

<div class="card-group text-center" style='margin-left: 5%; margin-right:5%'>

  <div class='row d-flex justify-content-center'>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <div class="card-header d-inline-flex my-n3">Casos activos</div>
        <h1 class="card-text text-center py-5">88</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header d-inline-flex my-n3" '>Casos nuevos ultimas 24h</h4>
        <h1 class="card-text text-center py-5">10</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header d-inline-flex my-n3">Casos totales</h4>
        <h1 class="card-text text-center py-5">100</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
  </div>

  <div class='row d-flex justify-content-center'>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header my-n3"'>Muertes</h4>
        <h1 class="card-text text-center py-5">1</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header my-n3">Recuperaciones</h4>
        <h1 class="card-text text-center py-5">1</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted">Actualizado: fecha hora</small>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header my-n3" >Tiempo para duplicar casos</h4>
        <h1 class="card-text text-center py-5">2-3 dias</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
  </div>
</div>

<!--ESTO INICIA UNA GRAFICA-->
<!-- Initialize a select button -->
<select id="selectButton"></select>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<!-- Color Scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>


<!--INICIA LA GRAFICA-->
<!-- Initialize a select button -->
<select id="selectButton"></select>
<div class="row d-flex justify-content-center">

<!-- Create a div where the graph will take place -->
<div id="grafica"></div>

<script src="{{ "/assets/javascript/grafica.js" | relative_url }}"></script>
</div>


<button type="button" class="btn btn-primary btn-lg btn-block btn-info" style='margin-top: 5%;'>Descarga los datos</button>


  <section>
    {% comment %}
    index.md va aca
    {{ content }}
    }
    {% endcomment %}
  </section>


  {%- if site.posts.size > 0 -%}
    <p class="h4">{{ page.list_title | default: "Posts" }}</p>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </span>
        <p class="h5">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
