---
layout: default
---

<div class="card text-center bg-danger", style='margin-left: 10%; margin-right: 10%'>
  <div class="card-body">
    <h4 class="card-text py-5" style='text-transform:uppercase;'>Si crees estar infectado con coronavirus, manda un mensaje de texto con la palabra <u>covid19</u> al <u>51515</u></h4>
  </div>
</div>

<h1 class="text-center" style='margin-top: 5%;'>Mapa</h1>

<div class="row d-flex justify-content-center">
<svg id="mapa" width="400" height="300"></svg>
</div>
<!--div id="map" class="d-block text-center"></div>
<div id="tooltip" class="text-center"></div-->

<script src="{{ "/assets/javascript/mapa.js" | relative_url }}"></script>



<h1 class="text-center" style='margin-top: 5%;'>Casos</h1>

<div class="card-group text-center" style='margin-left: 5%; margin-right:5%'>

  <div class='row d-flex justify-content-center'>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <div class="card-header my-n3">Casos activos</div>
        <h1 class="card-text text-center py-5">88</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header my-n3" '>Casos nuevos ultimas 24h</h4>
        <h1 class="card-text text-center py-5">10</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header my-n3">Casos totales</h4>
        <h1 class="card-text text-center py-5">100</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
  </div>

  <div class='row d-flex justify-content-center'>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header my-n3"'>Muertes</h4>
        <h1 class="card-text text-center py-5">1</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header my-n3">Recuperaciones</h4>
        <h1 class="card-text text-center py-5">1</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted">Actualizado: fecha hora</small>
      </div>
    </div>
    <div class="card" style="width: 32%;">
      <div class="card-body">
        <h4 class="card-header my-n3" >Tiempo para duplicar casos</h4>
        <h1 class="card-text text-center py-5">2-3 dias</h1>
      </div>
      <div class="card-footer">
        <small class="text-muted" style='height: 1rem;'>Actualizado: fecha hora</small>
      </div>
    </div>
  </div>
</div>

<!--ESTO INICIA UNA GRAFICA-->
<!-- Initialize a select button -->
<select id="selectButton"></select>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<!-- Color Scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>


<!--INICIA LA GRAFICA-->
<!-- Initialize a select button -->
<select id="selectButton"></select>
<div class="row d-flex justify-content-center">

<!-- Create a div where the graph will take place -->
<div id="grafica"></div>

<script src="{{ "/assets/javascript/grafica.js" | relative_url }}"></script>
</div>


<button type="button" class="btn btn-primary btn-lg btn-block btn-info" style='margin-top: 5%;'>Descarga los datos</button>


  <section>
    {% comment %}
    index.md va aca
    {{ content }}
    }
    {% endcomment %}
  </section>


  {%- if site.posts.size > 0 -%}
    <p class="h4">{{ page.list_title | default: "Posts" }}</p>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </span>
        <p class="h5">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
